# Express Backend API URL Location
VITE_API_URL=http://localhost:5000

# Google OAuth Credentials (Client ID)
VITE_GOOGLE_CLIENT_ID=your_google_oauth_client_id_placeholder.apps.googleusercontent.com

# Microsoft OAuth Credentials (Client ID)
VITE_MICROSOFT_CLIENT_ID=your_microsoft_oauth_client_id_placeholder
